body {
    font-family: 'Poppins SemiBold';
    background-image: url('../imgs/headers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin: 15px 0 5px;
}
input, textarea, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2a5835;
    color: rgb(180, 27, 27);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #1b40b9;
}
.date, .produk, .kendaraan, .metode {
    font-family: 'Poppins SemiBold';
}
